.about{
    padding: 160px 0px 168px 0px;
    background: #F2F2F2;
    @include tablet-min{
        padding: 112px 0px 152px 0px;
    }
    .about__wrapp{
        margin-bottom: 205px;
        @include tablet-min{
            flex-direction: column;
            margin-bottom: 141px;
        }
        .about__image{
            margin-right: 30px;
            @include tablet-min{
                margin: 0px 0px 42px 0px;
                max-width: 550px;
            }
            img{
                min-width: 320px;
            }
        }
        .about__content{
            max-width: 470px;
            h3{
                margin: 18px 0px 28px 0px;
                @include tablet-min{
                    margin: 15px 0px 15px 0px;
                }
            }
            p{
                margin-bottom: 52px;
                line-height: 32px;
                @include tablet-min{
                    margin-bottom: 16px;
                }
            }
            a{
                max-width: 154px;
            }
        }
    }
    .about__statistic{
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include tablet-min{
            flex-direction: column;
        }
        .about__statistic-box{
            text-align: center;
            @include tablet-min{
                margin-bottom: 58px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
            h3{
                font-size: 56px;
                font-weight: 700;
                sup{
                    font-size: 24px;
                }
            }
            p{
                margin: 12px 0px 10px 0px;
                text-transform: capitalize;
            }
            h2{
                font-size: 16px;
                color: $second-color;
            }
        }
    }
}