.course__find {
    .course__find__block {
        padding: 77px 100px 63px 100px;
        max-width: 1170px;
        width: 100%;
        gap: 11px;
        border-radius: 6px;
        background: url("@img/aside__backgroundImage.png") 80% 0 / cover no-repeat;
        @include tablet-min {
            padding: 42px 28px 48px 28px;
            flex-direction: column;
            align-items: flex-start;
        }
        .course__find__block-content {
            max-width: 470px;
            h3 {
                font-size: 56px;
                margin-bottom: 12px;
                font-weight: 700;
                line-height: 64px;
                letter-spacing: -2px;
                color: #fff;
                @include tablet-min {
                    font-size: 40px;
                }
            }
            p {
                line-height: 32px;
                color: #fff;
            }
        }
        .course__find__block-button {
            font-size: 14px;
            padding: 15px 31px;
            font-weight: 700;
            border-radius: 6px;
            width: 100%;
            max-width: 170px;
            display: inline-block;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            background: #ff7988;
            transition: background-color 0.2s ease;
            @include phone {
                padding: 15px 18px;
            }

            &:hover {
                background-color: $lighter-color;
            }

            &:focus {
                background-color: #ff7988;
            }
        }
    }
}
