.courses {
    margin-bottom: 128px;
    @include tablet-min {
        margin-bottom: 96px;
    }
    h3 {
        margin: 18px 0px 67px 0px;
    }
    .courses__wrapp {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        .courses__box {
            &:first-child {
                padding: 32px;
                width: 570px;
                background-position: 50% 50%;
                background-size: cover;
                @include tablet {
                    padding: 32px 24px;
                    width: 329px;
                }
            }
            width: 270px;
            height: 416px;
            padding: 24px 24px 32px 24px;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0818614);
            border-radius: 12px;
            background-repeat: no-repeat;
            background-size: 100% 40%;
            @include tablet {
                width: 329px;
            }
            .courses__box-courses {
                padding: 6px 13px;
                border-radius: 16px;
                display: inline-block;
                text-align: center;
                h4 {
                    font-size: 16px;
                }
            }
            .courses__box-content {
                height: 330px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                h5 {
                    font-size: 24px;
                    font-weight: 700;
                }
                .first__course {
                    color: #fff;
                    font-size: 40px;
                    margin-bottom: 24px;
                    @include tablet {
                        font-size: 24px;
                        margin-bottom: 0px;
                    }
                }
                .courses__box-content-wrapp {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .courses__box-content-lecturer {
                        margin: 18px 0px 32px 0px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        img {
                            width: 32px;
                            height: 32px;
                        }
                        p {
                            font-size: 16px;
                            margin-left: 10px;
                            color: rgba(51, 51, 51, 0.5);
                        }
                        .first__lecturer {
                            color: rgba(255, 255, 255, 0.5);
                        }
                    }
                    .courses__box-content-price {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 270px;
                        p {
                            font-size: 24px;
                            font-weight: 700;
                        }
                        .first__price {
                            color: #fff;
                        }
                        .courses__button {
                            font-size: 14px;
                            padding: 15px 18px;
                            font-weight: 700;
                            border: 1px solid rgba(74, 144, 226, 0.3);
                            border-radius: 6px;
                            max-width: 128px;
                            width: 100%;
                            display: inline-block;
                            text-align: center;
                            text-transform: uppercase;
                            color: $btn-color;
                            background-color: $btn-background;
                            transition: background-color 0.2s ease;
                            &:hover {
                                background-color: $lighter-color;
                            }
                            &:focus {
                                background-color: transparent;
                            }
                        }
                        .first__btn {
                            padding: 15px 22px;
                            max-width: 136px;
                            background: #ff7988;
                            color: #fff;
                        }
                    }
                    .first__box-content-price {
                        @media (min-width: 992px) {
                            width: 206px;
                        }
                    }
                }
            }
        }
    }
    .courses__button__bottom__wrapp{
        margin-top: 32px;
        text-align: center;
        .courses__button__bottom{
            @include tablet {
                max-width: 329px;
            }
        }
    }
}
