footer{
    position: relative;
    padding: 184px 0px 53px 0px;
    background: #eaf3ff;
    @include tablet-min {
        padding: 230px 0px 37px 0px;
    }
    .footer__position{
        position: absolute;
        width: 100%;
        margin: 0;
        bottom: 78%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
        @include tablet-min {
            bottom: 85%;
        }
    }
    .footer__wrapp{
        padding-bottom: 69px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        border-bottom: 1px solid #c4ccd6;
        @include tablet-min {
            padding-bottom: 48px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 0px;
        }
        .footer__logo{
            font-size: 40px;
            font-weight: 700;
            letter-spacing: -1px;
            line-height: 48px;
            @include tablet-min {
                margin-bottom: 49px;
            }
        }
        .footer__menu{
            @include tablet-min {
                margin-bottom: 32px;
            }
        }
        .footer__nav{
            .footer__title{
                margin-bottom: 16px;
                font-size: 16px;
                line-height: 32px;
                text-transform: uppercase;
                color: $third-color;
            }
            li{

                button{
                    font-size: 16px;
                    line-height: 32px;
                    background-color: transparent;
                    color: $first-color;
                    transition: color .2s ease;
                    &:hover {
                        color: lighten($first-color, 35%);
                      }
                    
                      &:focus{
                        color: $first-color;
                      }
                }
            }
        }
        .footer__service{
            padding-right: 70px;
            @include tablet-min {
                padding-right: 0px;
                margin-bottom: 53px;
            }
        }
        .footer__social-network{
            gap: 8px;
            a{
                opacity: 1;
                transition: opacity .2s ease;
                &:hover{
                    opacity: 0.5;
                }
                img{
                    min-width: 48px;
                    min-height: 48px;
                }
            }
        }
    }
    .footer__sub{
        margin-top: 42px;
        gap: 16px;
        @include tablet-min {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        .footer__copyright{
            font-size: 16px;
            line-height: 32px;
            color: $second-color;
        }
        .footer__popup{
            gap: 71px;
            @include tablet-min {
                gap: 60px;
            }
            a{
                font-size: 16px;
                line-height: 32px;
                color: $first-color;
                &:hover {
                    color: lighten($first-color, 35%);
                  }
                
                  &:focus{
                    color: $first-color;
                  }
            }
        }
    }
}