.team {
    padding: 123px 0px 139px 0px;
    background: #eaf3ff;
    @include tablet-min {
        padding: 91px 0px 91px 0px;
    }
    .title {
        margin: 18px 0px 67px 0px;
    }
    .team__swiper {
        height: 464px;
        .team__swiper-wrapper {
            .team__swiper-slide {
                padding: 32px 32px 37px 32px;
                width: 270px !important;
                height: 368px;
                text-align: center;
                background: #fff;
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0818614);
                border-radius: 12px;
                .team__swiper-slide__image {
                    position: relative;
                    width: 206px;
                    height: 206px;
                    margin: 0 auto;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 48px;
                        height: 48px;
                        bottom: 0;
                        right: 10px;
                        background: url("@img/team/team__iconFacebook.png") 50% 50% / cover no-repeat;
                    }
                    img {
                        width: 206px;
                        height: 206px;
                        border-radius: 50%;
                    }
                }
                .team__swiper-slide__fullName {
                    margin: 26px 0px 3px 0px;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 32px;
                }
                .team__swiper-slide__course {
                    font-size: 16px;
                    line-height: 32px;
                    color: $second-color;
                }
            }
        }
        .team__swiper-button {
            position: absolute;
            bottom: 30px;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            margin: 0 auto;
            width: 135px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .team__swiper-button-next,
            .team__swiper-button-prev {
                width: 48px;
                height: 48px;
                &::after {
                    display: none;
                }
            }
            .team__swiper-button-next {
                img {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
